name: wave
description: Widget for displaying a wave, with custom duration, size, color, alpha and so on.
version: 0.0.4
author: Yan Wong <flutter_wave@wong.so>
homepage: https://github.com/TheProtoss/wave

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter